
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Google Collections Graph Visualization</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<h1>Google Collections Graph Visualization</h1>
<form action="/generate-graph" method="POST">
<label for="url">Google Collections URL:</label>
<input type="text" id="url" name="url" placeholder="https://www.google.com/collections/s/list/...">
<input type="submit" value="Generate Graph">
</form>
<div id="graph-container"></div>
<script src="script.js"></script>
</body>
</html>

---
